<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>

    <style>
        a{
         color: rgb(222, 255, 7);
         text-decoration: none;
         border-right: 1px solid white;
         border-left: 1px solid white;
         padding: 5px;
        }
    </style>
</head>
<body>
    <header>
        <p>Header</p>
        <hr>
        <a href="home.php">Home</a>
        <a href="register.php">Register</a>
        <a href="index.php">About</a>
        <a href="login.php">Login</a>
        <hr>
    </header>
</body>
</html>